/* Todo List 페이지 컨테이너에 추가 마진 */
.container.todo-list-page {
    margin-top: 15px;
}

/* 제목, 생성 버튼 정렬 */
.todo-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* 세로 중앙 정렬 */
    margin-bottom: 15px;
}

/* 검색 폼 */
.search-form {
    display: flex;
    margin: 10px 0 20px 0; /* 위아래 여백 */
}

.search-form input[type="text"] {
    flex-grow: 1; /* 너비 유연하게 채움 */
    margin-right: 10px; /* 검색 버튼과의 간격 */
    margin-bottom: 0; /* _forms.css의 margin-bottom 제거 */
}

.search-form .btn-primary { /* 검색 버튼에 btn-primary 클래스 적용 */
    flex-shrink: 0; /* 너비가 줄어들지 않게 함 */
}